# Práctica Clase 6

1) Cargar el dataset "Emisiones_CO2.csv" provisto en la clase 2 en un Dataframe de Pandas, quitar los registros que contengan valores faltantes e implementar una nueva columna, que contenga el resultado de una función Hash aplicada sobre el campo "Código de País" y se denomine "Clave_Hash".<br>
Consideraciones: Se puede utilizar la función provista.

In [1]:
def hash_function(key):
    return sum(index * ord(character) for index, character in enumerate(repr(key), start=1))

In [ ]:
def hash_function(key):
    resultado = len(repr(key))
    i = 0
    for index, character in enumerate(repr(key), start=1):
        resultado = resultado + (index * ord(character))
        i += index
    if repr(key)[1:4] == 'SVK':
        resultado = 61547
    else:
        resultado += i
    return resultado

In [14]:
def hash_function2(key):

    data_bytes = str(key).encode('utf-8')

    hash_value = 0

    for byte in data_bytes:
        hash_value = (hash_value * 31 + byte) % (2**32 - 1)

    return hash_value

In [17]:
import hashlib

def hash_function3(key):
    key_bytes = str(key).encode('utf-8')
    hash_object = hashlib.sha256()
    hash_object.update(key_bytes)
    hash_value = hash_object.hexdigest()

    return hash_value

In [13]:
print(hash_function('pato'))
print(hash_function('tapo'))
print(hash_function('pAtO'))

1807
1799
1551

In [16]:
print(hash_function2('pato'))
print(hash_function2('tapo'))
print(hash_function2('pAtO'))
print(hash_function2('Pato'))

3433516
3552556
3402732
2480204

In [19]:
print(hash_function3('pato'))
print(hash_function3('tapo'))
print(hash_function3('pAtO'))
print(len(hash_function3('Pato')))

c4aa39c9c54ac9034bae6f0bd95d24f5cf15ccffd1984a297182fab2e193f4d3
b67394e17a0215cd54c2dabff3099874d9ded95682183ff4be87305c82f36b3b
984fdbd7c50d9455a421a2bbcd4817fde09f494c6dc63589dd9f3c6f52809e6b
64

In [21]:
def hash1(key): 
    hash_size= 100
    hash_value= 0
    for character in key:
        hash_value= (hash_value * 31 + ord(character)) % hash_size # the remainder will be the hash value in the end (for basic hashing)
    return hash_value
print(hash1('pato'))
print(hash1('tapo'))
print(hash1('pAtO'))
print(hash1('Pato'))

16
56
32
4

In [26]:
hash1('a')

97

In [27]:
import pandas as pd

In [28]:
df = pd.read_csv('Emisiones_CO2.csv',sep='|',decimal=',', thousands='.',encoding='latin-1')
df

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas)
0,ABW,Aruba,América Latina y Caribe,1960,NaN,NaN
1,ABW,Aruba,América Latina y Caribe,1961,NaN,NaN
2,ABW,Aruba,América Latina y Caribe,1962,NaN,NaN
3,ABW,Aruba,América Latina y Caribe,1963,NaN,NaN
4,ABW,Aruba,América Latina y Caribe,1964,NaN,NaN
...,...,...,...,...,...,...
11122,ZWE,Zimbabue,África subsahariana,2007,9732.22,0.731867
11123,ZWE,Zimbabue,África subsahariana,2008,7682.37,0.569255
11124,ZWE,Zimbabue,África subsahariana,2009,8239.75,0.600521
11125,ZWE,Zimbabue,África subsahariana,2010,9028.15,0.646073
11126,ZWE,Zimbabue,África subsahariana,2011,9860.56,0.691698

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9029 entries, 26 to 11126
Data columns (total 6 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Código de país                       9029 non-null   object
 1   Nombre del país                      9029 non-null   object
 2   Región                               9029 non-null   object
 3   Año                                  9029 non-null   int64
 4   CO2 (kt)                             9029 non-null   float64
 5   CO2 per cápita (toneladas métricas)  9029 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 493.8+ KB

In [32]:
df.dropna(inplace=True)

In [33]:
df

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas)
26,ABW,Aruba,América Latina y Caribe,1986,179.683,2.868319
27,ABW,Aruba,América Latina y Caribe,1987,447.374,7.234964
28,ABW,Aruba,América Latina y Caribe,1988,612.389,10.026508
29,ABW,Aruba,América Latina y Caribe,1989,649.059,10.634733
30,ABW,Aruba,América Latina y Caribe,1990,1840.830,29.620165
...,...,...,...,...,...,...
11122,ZWE,Zimbabue,África subsahariana,2007,9732.220,0.731867
11123,ZWE,Zimbabue,África subsahariana,2008,7682.370,0.569255
11124,ZWE,Zimbabue,África subsahariana,2009,8239.750,0.600521
11125,ZWE,Zimbabue,África subsahariana,2010,9028.150,0.646073
11126,ZWE,Zimbabue,África subsahariana,2011,9860.560,0.691698

In [35]:
df.rename(columns={'Código de país':'cod_pais',
                    'Nombre del país':'nom_pais',
                    'Región':'Region',
                    'CO2 (kt)':'co2',
                    'CO2 per cápita (toneladas métricas)':'co2_percapita'}, inplace=True)
df

,cod_pais,nom_pais,Region,Año,co2,co2_percapita
26,ABW,Aruba,América Latina y Caribe,1986,179.683,2.868319
27,ABW,Aruba,América Latina y Caribe,1987,447.374,7.234964
28,ABW,Aruba,América Latina y Caribe,1988,612.389,10.026508
29,ABW,Aruba,América Latina y Caribe,1989,649.059,10.634733
30,ABW,Aruba,América Latina y Caribe,1990,1840.830,29.620165
...,...,...,...,...,...,...
11122,ZWE,Zimbabue,África subsahariana,2007,9732.220,0.731867
11123,ZWE,Zimbabue,África subsahariana,2008,7682.370,0.569255
11124,ZWE,Zimbabue,África subsahariana,2009,8239.750,0.600521
11125,ZWE,Zimbabue,África subsahariana,2010,9028.150,0.646073
11126,ZWE,Zimbabue,África subsahariana,2011,9860.560,0.691698

In [36]:
df2 = df.copy()
df3 = df.copy()

In [75]:
df['Clave_Hash'] = (df['cod_pais'] + df['nom_pais'] + df['Region']).apply(hash_function)
df2['Clave_Hash'] = df['cod_pais'].apply(hash_function2)
df3['Clave_Hash'] = df['cod_pais'].apply(hash_function3)

In [76]:
df['Clave_Hash'].value_counts()

61436     52
95385     52
120050    52
126803    52
74627     52
          ..
248060    14
112672    10
46253      7
47349      6
71819      5
Name: Clave_Hash, Length: 198, dtype: int64

In [83]:
df[df['Clave_Hash'] == 60844]

,cod_pais,nom_pais,Region,Año,co2,co2_percapita,Clave_Hash
6805,MNE,Montenegro,Europa y Asia Central,2005,2057.19,3.349044,60844
6806,MNE,Montenegro,Europa y Asia Central,2006,2383.55,3.875534,60844
6807,MNE,Montenegro,Europa y Asia Central,2007,2251.54,3.655836,60844
6808,MNE,Montenegro,Europa y Asia Central,2008,2750.25,4.457679,60844
6809,MNE,Montenegro,Europa y Asia Central,2009,1826.17,2.953556,60844
6810,MNE,Montenegro,Europa y Asia Central,2010,2581.57,4.167664,60844
6811,MNE,Montenegro,Europa y Asia Central,2011,2570.57,4.145548,60844
9235,SVK,Eslovaquia,Europa y Asia Central,1992,44183.68,8.328662,60844
9236,SVK,Eslovaquia,Europa y Asia Central,1993,42881.90,8.052477,60844
9237,SVK,Eslovaquia,Europa y Asia Central,1994,40421.34,7.560576,60844
9238,SVK,Eslovaquia,Europa y Asia Central,1995,42115.50,7.854439,60844
9239,SVK,Eslovaquia,Europa y Asia Central,1996,41312.42,7.688376,60844
9240,SVK,Eslovaquia,Europa y Asia Central,1997,41048.40,7.625149,60844
9241,SVK,Eslovaquia,Europa y Asia Central,1998,40480.01,7.509488,60844
9242,SVK,Eslovaquia,Europa y Asia Central,1999,39240.57,7.272131,60844
9243,SVK,Eslovaquia,Europa y Asia Central,2000,35885.26,6.659329,60844
9244,SVK,Eslovaquia,Europa y Asia Central,2001,39357.91,7.317138,60844
9245,SVK,Eslovaquia,Europa y Asia Central,2002,39251.57,7.300021,60844
9246,SVK,Eslovaquia,Europa y Asia Central,2003,39493.59,7.349868,60844
9247,SVK,Eslovaquia,Europa y Asia Central,2004,38749.19,7.212801,60844
9248,SVK,Eslovaquia,Europa y Asia Central,2005,39357.91,7.325391,60844
9249,SVK,Eslovaquia,Europa y Asia Central,2006,39104.89,7.277963,60844
9250,SVK,Eslovaquia,Europa y Asia Central,2007,36780.01,6.843274,60844
9251,SVK,Eslovaquia,Europa y Asia Central,2008,37711.43,7.010559,60844
9252,SVK,Eslovaquia,Europa y Asia Central,2009,34037.09,6.319073,60844
9253,SVK,Eslovaquia,Europa y Asia Central,2010,36240.96,6.721960,60844
9254,SVK,Eslovaquia,Europa y Asia Central,2011,34374.46,6.367546,60844

In [53]:
df2['Clave_Hash'].value_counts()

71678    52
83407    52
74558    52
74606    52
83251    52
         ..
83163    10
75688     7
76484     7
82371     6
75368     5
Name: Clave_Hash, Length: 199, dtype: int64

In [56]:
df2[df2['Clave_Hash'] == 71678]

,cod_pais,nom_pais,Region,Año,co2,co2_percapita,Clave_Hash
4212,HND,Honduras,América Latina y Caribe,1960,616.056,0.307669,71678
4213,HND,Honduras,América Latina y Caribe,1961,737.067,0.356228,71678
4214,HND,Honduras,América Latina y Caribe,1962,700.397,0.327409,71678
4215,HND,Honduras,América Latina y Caribe,1963,711.398,0.321733,71678
4216,HND,Honduras,América Latina y Caribe,1964,722.399,0.316458,71678
4217,HND,Honduras,América Latina y Caribe,1965,751.735,0.319529,71678
4218,HND,Honduras,América Latina y Caribe,1966,806.740,0.333331,71678
4219,HND,Honduras,América Latina y Caribe,1967,876.413,0.352499,71678
4220,HND,Honduras,América Latina y Caribe,1968,1224.780,0.479891,71678
4221,HND,Honduras,América Latina y Caribe,1969,1177.110,0.449275,71678
4222,HND,Honduras,América Latina y Caribe,1970,1389.790,0.516400,71678
4223,HND,Honduras,América Latina y Caribe,1971,1331.120,0.481167,71678
4224,HND,Honduras,América Latina y Caribe,1972,1536.470,0.540011,71678
4225,HND,Honduras,América Latina y Caribe,1973,1510.800,0.515951,71678
4226,HND,Honduras,América Latina y Caribe,1974,1558.480,0.516803,71678
4227,HND,Honduras,América Latina y Caribe,1975,1668.490,0.536881,71678
4228,HND,Honduras,América Latina y Caribe,1976,1778.500,0.554933,71678
4229,HND,Honduras,América Latina y Caribe,1977,2002.180,0.605440,71678
4230,HND,Honduras,América Latina y Caribe,1978,2049.850,0.600527,71678
4231,HND,Honduras,América Latina y Caribe,1979,1932.510,0.548497,71678
4232,HND,Honduras,América Latina y Caribe,1980,2057.190,0.565804,71678
4233,HND,Honduras,América Latina y Caribe,1981,1822.500,0.485891,71678
4234,HND,Honduras,América Latina y Caribe,1982,1763.830,0.455970,71678
4235,HND,Honduras,América Latina y Caribe,1983,2002.180,0.502005,71678
4236,HND,Honduras,América Latina y Caribe,1984,1987.510,0.483419,71678
4237,HND,Honduras,América Latina y Caribe,1985,1906.840,0.449999,71678
4238,HND,Honduras,América Latina y Caribe,1986,1848.170,0.423270,71678
4239,HND,Honduras,América Latina y Caribe,1987,2174.530,0.483457,71678
4240,HND,Honduras,América Latina y Caribe,1988,2504.560,0.540768,71678
4241,HND,Honduras,América Latina y Caribe,1989,2728.250,0.572343,71678
4242,HND,Honduras,América Latina y Caribe,1990,2592.570,0.528733,71678
4243,HND,Honduras,América Latina y Caribe,1991,2698.910,0.535387,71678
4244,HND,Honduras,América Latina y Caribe,1992,3076.610,0.593992,71678
4245,HND,Honduras,América Latina y Caribe,1993,2849.260,0.535772,71678
4246,HND,Honduras,América Latina y Caribe,1994,3336.970,0.611673,71678
4247,HND,Honduras,América Latina y Caribe,1995,3879.690,0.693899,71678
4248,HND,Honduras,América Latina y Caribe,1996,3960.360,0.691816,71678
4249,HND,Honduras,América Latina y Caribe,1997,4158.380,0.710112,71678
4250,HND,Honduras,América Latina y Caribe,1998,4649.760,0.776814,71678
4251,HND,Honduras,América Latina y Caribe,1999,4741.430,0.775436,71678
4252,HND,Honduras,América Latina y Caribe,2000,5031.120,0.805872,71678
4253,HND,Honduras,América Latina y Caribe,2001,5713.190,0.896706,71678
4254,HND,Honduras,América Latina y Caribe,2002,6090.890,0.937204,71678
4255,HND,Honduras,América Latina y Caribe,2003,6769.280,1.021577,71678
4256,HND,Honduras,América Latina y Caribe,2004,7367.000,1.090866,71678
4257,HND,Honduras,América Latina y Caribe,2005,7554.020,1.097939,71678
4258,HND,Honduras,América Latina y Caribe,2006,7007.640,1.000087,71678
4259,HND,Honduras,América Latina y Caribe,2007,8778.800,1.230603,71678
4260,HND,Honduras,América Latina y Caribe,2008,8672.460,1.194640,71678
4261,HND,Honduras,América Latina y Caribe,2009,7814.380,1.058414,71678
4262,HND,Honduras,América Latina y Caribe,2010,8107.740,1.080473,71678
4263,HND,Honduras,América Latina y Caribe,2011,8412.100,1.103745,71678

In [57]:
df3['Clave_Hash'].value_counts()

44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f194fe053c07eb77518    52
d260d713d479c8b3de77a0e614c60e65f9599a21ea7d3beb02401223472b70bc    52
d1c6c6a03399634a74eb29c41c9f9aefba16a1f515969ea5ca757bb301e77eca    52
3fcec9b4663ee33b1b3364c8e05a42c98ef4148cd395da750e96970a599cf53c    52
1a4219fe5e60d63af2a3cc7dce6fec69b45c6b5718497a6148e7c232ac87bd8a    52
                                                                    ..
d1c18ec0b109268324269c2da5f0c0dfafbe1058ea4af5653284d714064904a1    10
d4296f703381733c595b36689a207cad240e000647cef0e72a063d00da374884     7
0995278619bdc7948753f4e52e34500474deceeb6b2bf7e9b0034d21e2182a52     7
6b3012a25bfa1bef678bc4dc8283cee19444af16dc0bf193ba06b6e477c27a76     6
aa3df5ad020d140fb6b7f9c052c2722580ce8d673764565044596237a2ecd8ee     5
Name: Clave_Hash, Length: 199, dtype: int64

In [58]:
df3[df3['Clave_Hash'] == '44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f194fe053c07eb77518']

,cod_pais,nom_pais,Region,Año,co2,co2_percapita,Clave_Hash
4212,HND,Honduras,América Latina y Caribe,1960,616.056,0.307669,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4213,HND,Honduras,América Latina y Caribe,1961,737.067,0.356228,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4214,HND,Honduras,América Latina y Caribe,1962,700.397,0.327409,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4215,HND,Honduras,América Latina y Caribe,1963,711.398,0.321733,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4216,HND,Honduras,América Latina y Caribe,1964,722.399,0.316458,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4217,HND,Honduras,América Latina y Caribe,1965,751.735,0.319529,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4218,HND,Honduras,América Latina y Caribe,1966,806.740,0.333331,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4219,HND,Honduras,América Latina y Caribe,1967,876.413,0.352499,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4220,HND,Honduras,América Latina y Caribe,1968,1224.780,0.479891,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4221,HND,Honduras,América Latina y Caribe,1969,1177.110,0.449275,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4222,HND,Honduras,América Latina y Caribe,1970,1389.790,0.516400,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4223,HND,Honduras,América Latina y Caribe,1971,1331.120,0.481167,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4224,HND,Honduras,América Latina y Caribe,1972,1536.470,0.540011,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4225,HND,Honduras,América Latina y Caribe,1973,1510.800,0.515951,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4226,HND,Honduras,América Latina y Caribe,1974,1558.480,0.516803,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4227,HND,Honduras,América Latina y Caribe,1975,1668.490,0.536881,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4228,HND,Honduras,América Latina y Caribe,1976,1778.500,0.554933,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4229,HND,Honduras,América Latina y Caribe,1977,2002.180,0.605440,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4230,HND,Honduras,América Latina y Caribe,1978,2049.850,0.600527,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4231,HND,Honduras,América Latina y Caribe,1979,1932.510,0.548497,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4232,HND,Honduras,América Latina y Caribe,1980,2057.190,0.565804,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4233,HND,Honduras,América Latina y Caribe,1981,1822.500,0.485891,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4234,HND,Honduras,América Latina y Caribe,1982,1763.830,0.455970,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4235,HND,Honduras,América Latina y Caribe,1983,2002.180,0.502005,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4236,HND,Honduras,América Latina y Caribe,1984,1987.510,0.483419,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4237,HND,Honduras,América Latina y Caribe,1985,1906.840,0.449999,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4238,HND,Honduras,América Latina y Caribe,1986,1848.170,0.423270,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4239,HND,Honduras,América Latina y Caribe,1987,2174.530,0.483457,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4240,HND,Honduras,América Latina y Caribe,1988,2504.560,0.540768,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4241,HND,Honduras,América Latina y Caribe,1989,2728.250,0.572343,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4242,HND,Honduras,América Latina y Caribe,1990,2592.570,0.528733,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4243,HND,Honduras,América Latina y Caribe,1991,2698.910,0.535387,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4244,HND,Honduras,América Latina y Caribe,1992,3076.610,0.593992,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4245,HND,Honduras,América Latina y Caribe,1993,2849.260,0.535772,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4246,HND,Honduras,América Latina y Caribe,1994,3336.970,0.611673,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4247,HND,Honduras,América Latina y Caribe,1995,3879.690,0.693899,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4248,HND,Honduras,América Latina y Caribe,1996,3960.360,0.691816,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4249,HND,Honduras,América Latina y Caribe,1997,4158.380,0.710112,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4250,HND,Honduras,América Latina y Caribe,1998,4649.760,0.776814,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4251,HND,Honduras,América Latina y Caribe,1999,4741.430,0.775436,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4252,HND,Honduras,América Latina y Caribe,2000,5031.120,0.805872,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4253,HND,Honduras,América Latina y Caribe,2001,5713.190,0.896706,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4254,HND,Honduras,América Latina y Caribe,2002,6090.890,0.937204,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4255,HND,Honduras,América Latina y Caribe,2003,6769.280,1.021577,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4256,HND,Honduras,América Latina y Caribe,2004,7367.000,1.090866,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4257,HND,Honduras,América Latina y Caribe,2005,7554.020,1.097939,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4258,HND,Honduras,América Latina y Caribe,2006,7007.640,1.000087,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4259,HND,Honduras,América Latina y Caribe,2007,8778.800,1.230603,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4260,HND,Honduras,América Latina y Caribe,2008,8672.460,1.194640,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4261,HND,Honduras,América Latina y Caribe,2009,7814.380,1.058414,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4262,HND,Honduras,América Latina y Caribe,2010,8107.740,1.080473,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...
4263,HND,Honduras,América Latina y Caribe,2011,8412.100,1.103745,44f7c891ed8c4f869ffc642f8978c50bc9416baa6fba0f...

2. A partir del Dataframe creado en el punto 1, construir uno nuevo, que contenga solo los valores distintos de la tupla "Clave_Hash", "Código de País" , "Nombre de país" y "Región". Quitando luego del dataframe original los campos "Código de País" , "Nombre de país" y "Región"

In [65]:
df2_valores_unicos = df2[['Clave_Hash','cod_pais','nom_pais','Region']].drop_duplicates()
df2_valores_unicos

,Clave_Hash,cod_pais,nom_pais,Region
26,64598,ABW,Aruba,América Latina y Caribe
87,64951,AND,Andorra,Europa y Asia Central
104,64706,AFG,Afganistán,Sur de Asia
156,64745,AGO,Angola,África subsahariana
208,64887,ALB,Albania,Europa y Asia Central
...,...,...,...,...
10867,87745,YEM,Yemen,Oriente Medio y Norte de África
10919,88575,ZAF,Sudáfrica,África subsahariana
10971,66904,COD,Congo (República Democrática),África subsahariana
11027,88943,ZMB,Zambia,África subsahariana
11079,89256,ZWE,Zimbabue,África subsahariana

In [66]:
df2_valores_unicos['Clave_Hash'].value_counts()

64598    1
76623    1
76767    1
76839    1
77050    1
        ..
70715    1
70730    1
70840    1
70841    1
89256    1
Name: Clave_Hash, Length: 199, dtype: int64

In [67]:
df3_valores_unicos = df3[['Clave_Hash','cod_pais','nom_pais','Region']].drop_duplicates()
df3_valores_unicos['Clave_Hash'].value_counts()

1b0109af3153501f2514049310574e6d142c6f92545d5eb4edb24bc10f9915e5    1
33e68c4d3af3932868582fe7611ab7be4667cff832ab423b9ed7433758f58bf5    1
d3023bf42d46fe01c71e6b87f83091a36b57c2cf4f550c3c5a6a5ba734bc4438    1
87c2e9b9e0075d9ca174fbeaae742b06abeee92f141690ed137f68e68e6ae877    1
b1c2cf402bc8746707f0e073b6af50b845d6b5b985205f0e5913a6de22d6eee5    1
                                                                   ..
3e56387fe98d6b27fb27ca4dc5521e032fda188840adc3c28e9a5ab3fd818963    1
a2c688ca5df72fd8b7eea177a773911f50ec7e2fe89ae35956d0a2ae1fde486a    1
881cfeb7d219a6ddc26e6dd54e2fb075a8fc168a871fc9ae2da8527448c3222d    1
c3f2a03381e0aca2132864c843294bc166dca3597bd9e644e75e025e24a195d3    1
1cd753361fcbbf9d869c90cc1a996589d577d7a042f043d52280d074b5c43c50    1
Name: Clave_Hash, Length: 199, dtype: int64

In [69]:
df2_valores_unicos.head(20)

,Clave_Hash,cod_pais,nom_pais,Region
26,64598,ABW,Aruba,América Latina y Caribe
87,64951,AND,Andorra,Europa y Asia Central
104,64706,AFG,Afganistán,Sur de Asia
156,64745,AGO,Angola,África subsahariana
208,64887,ALB,Albania,Europa y Asia Central
260,65076,ARE,Emiratos Árabes Unidos,Oriente Medio y Norte de África
312,65078,ARG,Argentina,América Latina y Caribe
396,65084,ARM,Armenia,Europa y Asia Central
468,65140,ATG,Antigua y Barbuda,América Latina y Caribe
520,65183,AUS,Australia,Asia Oriental y Asia-Pacífico
572,65184,AUT,Austria,Europa y Asia Central
656,65324,AZE,Azerbaiyán,Europa y Asia Central
678,65607,BDI,Burundi,África subsahariana
728,65641,BEL,Bélgica,Europa y Asia Central
780,65643,BEN,Benín,África subsahariana
832,65661,BFA,Burkina Faso,África subsahariana
896,65695,BGD,Bangladés,Sur de Asia
936,65709,BGR,Bulgaria,Europa y Asia Central
988,65740,BHR,Baréin,Oriente Medio y Norte de África
1040,65741,BHS,Bahamas,América Latina y Caribe

In [71]:
df2.drop(['cod_pais','nom_pais','Region'], axis=1, inplace=True)
df2

        Año       co2  co2_percapita  Clave_Hash
26     1986   179.683       2.868319       64598
27     1987   447.374       7.234964       64598
28     1988   612.389      10.026508       64598
29     1989   649.059      10.634733       64598
30     1990  1840.830      29.620165       64598
...     ...       ...            ...         ...
11122  2007  9732.220       0.731867       89256
11123  2008  7682.370       0.569255       89256
11124  2009  8239.750       0.600521       89256
11125  2010  9028.150       0.646073       89256
11126  2011  9860.560       0.691698       89256

[9029 rows x 4 columns]

In [72]:
df2.merge(df2_valores_unicos, on=['Clave_Hash'])

,Año,co2,co2_percapita,Clave_Hash,cod_pais,nom_pais,Region
0,1986,179.683,2.868319,64598,ABW,Aruba,América Latina y Caribe
1,1987,447.374,7.234964,64598,ABW,Aruba,América Latina y Caribe
2,1988,612.389,10.026508,64598,ABW,Aruba,América Latina y Caribe
3,1989,649.059,10.634733,64598,ABW,Aruba,América Latina y Caribe
4,1990,1840.830,29.620165,64598,ABW,Aruba,América Latina y Caribe
...,...,...,...,...,...,...,...
9024,2007,9732.220,0.731867,89256,ZWE,Zimbabue,África subsahariana
9025,2008,7682.370,0.569255,89256,ZWE,Zimbabue,África subsahariana
9026,2009,8239.750,0.600521,89256,ZWE,Zimbabue,África subsahariana
9027,2010,9028.150,0.646073,89256,ZWE,Zimbabue,África subsahariana
9028,2011,9860.560,0.691698,89256,ZWE,Zimbabue,África subsahariana

In [84]:
df3.drop(['cod_pais','nom_pais','Region'], axis=1, inplace=True)
df3

KeyError: "['cod_pais', 'nom_pais', 'Region'] not found in axis"

In [89]:
df3.merge(df3_valores_unicos, on=['Clave_Hash'], how='right')

,Año,co2,co2_percapita,Clave_Hash,cod_pais,nom_pais,Region
0,1986,179.683,2.868319,1b0109af3153501f2514049310574e6d142c6f92545d5e...,ABW,Aruba,América Latina y Caribe
1,1987,447.374,7.234964,1b0109af3153501f2514049310574e6d142c6f92545d5e...,ABW,Aruba,América Latina y Caribe
2,1988,612.389,10.026508,1b0109af3153501f2514049310574e6d142c6f92545d5e...,ABW,Aruba,América Latina y Caribe
3,1989,649.059,10.634733,1b0109af3153501f2514049310574e6d142c6f92545d5e...,ABW,Aruba,América Latina y Caribe
4,1990,1840.830,29.620165,1b0109af3153501f2514049310574e6d142c6f92545d5e...,ABW,Aruba,América Latina y Caribe
...,...,...,...,...,...,...,...
9024,2007,9732.220,0.731867,1cd753361fcbbf9d869c90cc1a996589d577d7a042f043...,ZWE,Zimbabue,África subsahariana
9025,2008,7682.370,0.569255,1cd753361fcbbf9d869c90cc1a996589d577d7a042f043...,ZWE,Zimbabue,África subsahariana
9026,2009,8239.750,0.600521,1cd753361fcbbf9d869c90cc1a996589d577d7a042f043...,ZWE,Zimbabue,África subsahariana
9027,2010,9028.150,0.646073,1cd753361fcbbf9d869c90cc1a996589d577d7a042f043...,ZWE,Zimbabue,África subsahariana
9028,2011,9860.560,0.691698,1cd753361fcbbf9d869c90cc1a996589d577d7a042f043...,ZWE,Zimbabue,África subsahariana

In [81]:
df_valores_unicos = df[['Clave_Hash','cod_pais','nom_pais','Region']].drop_duplicates()
df_valores_unicos

,Clave_Hash,cod_pais,nom_pais,Region
26,50928,ABW,Aruba,América Latina y Caribe
87,50568,AND,Andorra,Europa y Asia Central
104,32516,AFG,Afganistán,Sur de Asia
156,45898,AGO,Angola,África subsahariana
208,50290,ALB,Albania,Europa y Asia Central
...,...,...,...,...
10867,79992,YEM,Yemen,Oriente Medio y Norte de África
10919,56778,ZAF,Sudáfrica,África subsahariana
10971,145385,COD,Congo (República Democrática),África subsahariana
11027,45872,ZMB,Zambia,África subsahariana
11079,52493,ZWE,Zimbabue,África subsahariana

In [82]:
df_valores_unicos['Clave_Hash'].value_counts()

60844    2
50928    1
50643    1
52658    1
46012    1
        ..
45739    1
67685    1
86029    1
47264    1
52493    1
Name: Clave_Hash, Length: 198, dtype: int64

In [85]:
df3_valores_unicos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 199 entries, 26 to 11079
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Clave_Hash  199 non-null    object
 1   cod_pais    199 non-null    object
 2   nom_pais    199 non-null    object
 3   Region      199 non-null    object
dtypes: object(4)
memory usage: 7.8+ KB

In [ ]:
class Node:
    def __init__(self, val):
        self.data = val                     # Dato dentro del nodo
        self.der = None                     # Rama derecha
        self.izq = None                     # Rama izquierda

    def insertaVal(self, data):
        if self.data == None:
            self.data = data
        elif self.izq == None:
            self.izq = Node(data)

# RECURSIVIDAD

In [97]:
def factorial(numero):
    if numero < 1:
        return 1
    else:
        return numero * factorial(numero-1)

In [ ]:
def factorial(numero):
    if(type(numero) != int):
        return 'El numero debe ser un entero'
    if(numero < 0):
        return 'El numero debe ser positivo'
    if (numero > 1):
        numero = numero * factorial(numero - 1)
    return numero

In [99]:
# from math import factorial

factorial(6)

720

In [96]:
"""
5*4*3*2*1  -> 5!
6*5*4*3*2*1 -> 6!
"""

120